.dashboard{

    padding:40px;

}



.dashboard h1{

    margin-bottom:30px;

}



.dashboard-grid{

    display:grid;

    grid-template-columns:

    repeat(4,1fr);

    gap:20px;

}



.stat-card{

    background:white;

    padding:25px;

    border-radius:10px;

    box-shadow:0 0 10px #ddd;

}



.stat-card h3{

    font-size:18px;

}



.stat-card p{

    font-size:30px;

    font-weight:bold;

}